.post {
  width: 386px;
  margin: 0px 25px 40px 25px;
}

<<<<<<< HEAD
.postImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 7px;
=======
.postImg{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 7px;
>>>>>>> f60d49d02b9c4387c5872a47329ad1062551fa13
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #bdd8fe;
  background-image: linear-gradient(315deg, #bdd8fe 0%, #e186b4 74%);
  padding: 15px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.postCat {
  font-family: "Varela", sans-serif;
  font-size: 11px;
  color: #be9656;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.postTitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
  cursor: pointer;
}

.postDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 13px;
  color: #ffffff;
  margin-top: 15px;
}

.postDesc {
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  color: #444;
  line-height: 24px;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
