@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Lilita+One&display=swap");

.register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../images/bg.jpg');
  object-fit: cover;
}

.resgisterContainer {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.registerTitle {
  font-size: 50px;
  font-family: "Lilita One", cursive;
  color: white;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.registerForm > label {
  margin: 10px 0;
  font-size: 16px;
  color: white;
  font-family: sans-serif;
  font-weight: 600;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  outline: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
}

.loginButton {
  top: 60px;
  right: 20px;
  background-color: lightcoral;
  cursor: pointer;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;

}
