@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Lilita+One&display=swap");

.register {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://wallpapers.com/images/featured/doraemon-6ag1ry72uy2s9jmg.jpg");
  background-size: cover;
  position: relative;
  width: 100%; /* Adjust this if needed */
  height: 100vh;
}

.resgisterContainer {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 40px;
}

.registerTitle {
  font-size: 50px;
  font-family: "Lilita One", cursive;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  width: 100%;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.loginButton {
  top: 60px;
  right: 20px;
  background-color: lightcoral;
  cursor: pointer;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
